/*======================== Header ======================*/
.sobre-header {
	padding: 200px 0;
	background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)), url(../img/carousel-1.jpg);
}

.sobre-area {
	display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.sobre-header .sobre-area h4 {
	color: #cc8c18;
	font-size: 18px;
}

.sobre-header .sobre-area h2 {
	font-size: 60px;
	padding: 10px 0;
	-webkit-text-stroke: 1px #fff;
    color: transparent;
}

.sobre-header .sobre-area p {
	font-size: 18px;
	color: #ccc;
	padding: 10px 0;
}

/*======================== Banner ======================*/
.banner {
	padding: 150px 0;
	background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../img/carousel-1.jpg);
}

.banner .banner-area h2 {
	font-size: 40px;
	color: #fff;
	-webkit-text-stroke: 1px #fff;
    color: transparent;
}

.banner .banner-area p {
	font-size: 18px;
	color: #ccc;
}











